<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%; */
  padding: 16px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  float: left;
  margin: 20px;
  width: 20%;
  height: 20%;
}

img{
  width:10%;
  height: auto;
}

</style>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/lab-1/">PBP</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/lab-4/">Table</a></li>
        <li class="active"><a href="/lab-4/note-list">Card</a></li>
        <li><a href="/lab-4/add-note">Add Note</a></li>
      </ul>
    </div>
  </nav>
{% for x in note %}
<div class="container flex">
  <div class="card">
      {% load static %}
      <img src="{% static 'lab_4/image0.jpg' %}" alt="Avatar" style="width:100%">
      <!-- <img src="image0.jpg" alt="Avatar" style="width:100%"> -->
        <h4><b>{{x.title}}</b></h4>
        <p>To : {{x.To}}</p>
        <p>From : {{x.From}}</p>
        <p>Message : {{x.Message}}</p>
    </div>
  </div>
{% endfor %}
</body>
</html> 
