<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Page Title</title>
</head>
<style>
    input{
        color: rgb(0, 48, 73);
        border-width: 2px;
        border-style: solid;
        border-radius: 3px;
        border-color: #6547CE;
        background-color: #fdfdfd;
        text-align: center;

    }
    input[type="text"] {
        height: 20px;
        text-align: center;
        width: 150px;
    }
    .form{
        margin-left: auto;
        text-align: center;
        margin-right: auto;
    }
    .button:hover{
        background-color: #f85f78 ;
        text-align: center;
        color: white;
    }
    .button{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: auto;
        padding: 16px 32px;
        text-align: center;
        display: flex;
        font-size: 16px;
        transition-duration: 0.4s;
    }
</style>
<body style="background-color: rgb(0, 226, 245); text-align: center;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/lab-1/">PBP</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/lab-4/">Table</a></li>
            <li><a href="/lab-4/note-list">Card</a></li>
            <li class="active"><a href="/lab-4/add-note">Add Note</a></li>
          </ul>
        </div>
      </nav>
    <h1>Add Note</h1>
    <form action="" method="POST"> {% csrf_token %}

        <input type="text" placeholder="To" name="To"><br><br>
    
        <input type="text" placeholder="From" name="From"><br><br>
    
        <input type="text" placeholder="Title" name="Title"><br><br>
    
        <input type="text" placeholder="Message" name="Message"><br><br>
        <div>
            <button class="button" type ="submit" value="Submit">
            Submit
            </button>
            </div>
    </form>
</body>
</html>
<!-- <form
action=""
method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form> -->

