<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Notes</title>
  </head>
  <style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
  </style>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/lab-1/">PBP</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/lab-4/">Table</a></li>
          <li><a href="/lab-4/note-list">Card</a></li>
          <li><a href="/lab-4/add-note">Add Note</a></li>
        </ul>
      </div>
    </nav>
    <table id="customers">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for x in note %}
      <tr>
        <td>{{x.To}}</td>
        <td>{{x.From}}</td>
        <td>{{x.Title}}</td>
        <td>{{x.Message}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>